* {
    margin:0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    background-color: #2b0955;
}

.main-wrapper {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% = 50vw);
}

.bg-img {
    width:40vw;
    height: 100vh;
}

.form {
    width:60vw
}

.logo-name {
    margin-left: 60px;
    margin-top: 40px;
}

.logo {
    position: relative;
    width:100px;
    top:10px;
}

.brand {
    width:560px;
}

.amethyst {
    width:200px;
    position: fixed;
    bottom: 0px;
    right:30px;
}

