* {
    margin:0;
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: #2b0955;
    font-family: 'Museum Bible', serif;
    font-weight: 500;
    position: relative;
}

@font-face {
    font-family: 'Museum Bible';
    src: url('fonts/MuseumBible.woff2') format('woff2'),
        url('fonts/MuseumBible.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.bg-img {
    width:40vw;
    height: 100vh;
}

.logo-name {
    margin-left: 50px;
    margin-top: 20px;
}

.logo {
    width:70px;
    margin-top:10px;
}

.brand {
    width:400px;
    padding-bottom: 6px;
}

.amethyst {
    width:200px;
    position: absolute;
    bottom: 0px;
    right:30px;
}

.form-section {
    color: #fafafa;
    width:60vw;
}

.form-main {
    justify-self: center;
    flex-direction: column;
    font-size: 30px;
    font-weight: 500;

}

.form {
    width: calc((100% - 40vw));
}

fieldset {
    border: none;
    margin-inline:40px;
    margin-bottom: 20px;
}

input {
    background-color: #2b0955;
    border-radius: 30px;
    border:#fafafa 1.5px solid;
    color:#fafafa;
    height:40px;
    width:340px;
    padding:20px;
    font-family: 'Museum Bible', serif;
    font-size: 25px;
    margin-top:30px;
    margin-inline: 30px;
    letter-spacing: 1.2px;
}

.form-main label {
    position: absolute;
    margin-inline: 45px;
}

.form-main p {
    text-align: center;
    margin: 50px;
    letter-spacing: 0.2;
}

input[type='password']:user-invalid {
    border: red 1.5px solid;
    content:"Use at least 8 characters with a letter and a number."
}

label[for='pass']::after, label[for='confirm-pass']::after {
 content:" *";
 color:red;
 font-size:20px;
}

input:focus {
    outline: none;
    border: #864aff 1.5px solid;
}

button {
    background-color: #5e17eb;
    color: #fafafa;
    border-radius: 30px;
    padding-inline:20px;
    border: none;
    width:160px;
    height: 55px;
    font-weight: 500;
    font-family: 'Museum Bible', serif;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0.2px;
    cursor: pointer;
    transition: 0s;
}

button:focus {
    transform: scale(0.95)
}

.btn-section a {
    color:#864aff;
    font-weight: 700;
    letter-spacing: 0.2px;
    align-self: end;
    padding-left:8px;
    cursor: pointer;
    text-decoration: none;
}

.btn-section a, .btn-section p {
    max-width: fit-content;
    flex-direction: row;
    margin: unset;

}

.btn-section p {
    letter-spacing: 0.2;
}

.btn-section {
    display: flex;
    flex-direction: row;
    margin: 30px;
    margin-left: 90px;
    align-items: center;
    justify-content: baseline;
    gap:20px;
}

.login {
    display:flex;
    flex-direction: row;
}