* {
    margin:0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    background-color: #2b0955;
    font-family: 'Museum Bible', serif;
    font-weight: 500;
}

@font-face {
    font-family: 'Museum Bible';
    src: url('fonts/MuseumBible.woff2') format('woff2'),
        url('fonts/MuseumBible.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.bg-img {
    width:40vw;
    height: 100vh;
}

.form {
    width:60vw
}

.logo-name {
    margin-left: 60px;
    margin-top: 40px;
}

.logo {
    position: relative;
    width:100px;
    top:10px;
}

.brand {
    width:560px;
}

.amethyst {
    width:200px;
    position: fixed;
    bottom: 0px;
    right:30px;
}

.form-section {
    color: #fafafa;
}

.form-main p {
    font-size: 30px;
}
